

*.csv

*.xlsx



*.h5

*.zip

*.db

DataCollection/kickstarter_data_collect/scrapykickstarterproject/kick/kick/__init__.pyc

DataCollection/kickstarter_data_collect/scrapykickstarterproject/kick/kick/settings.pyc

Tool/xml/linkedlist.pyc

Tool/xml/xml2csv.pyc

Tool/xml/xml2csvtest.pyc

Tool/xml/xmltable2csv.pyc
